@mixin maxSiteWidth {
  margin-left:  auto;
  margin-right: auto;
  width: 80%;
  max-width: $maxSiteWidth; 
}

@mixin fullSizePseudoelement {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  
}

@mixin backgroundImage($imageURL) {
  background-image: url($imageURL);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  
}

@mixin pseudoelementHover {
    transform: translateY(-100%);
    transform-origin: center top;
    transition: transform 300ms;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button {
  background-color: transparent;
  cursor: pointer;
  display: block;

  padding: 16px;

  transition-delay: 50ms;
  transition-duration: 500ms;
  transition-property: background-color color;
  transform-origin: ease-in-out;
  text-align: center;
  text-decoration: none;

  color: $primaryColor;
  border: 2px solid $primaryColor;
  border-radius: 10px;

  font-size: 1rem;

  &:hover {
    color: #ffffff;
    background-color: $primaryColor;

  }
  
}
