.contact{

  &__name{
    margin-top: 100px;
    margin-bottom: 1rem;
  }
  &__text{


      margin-bottom: 0;
   
  }
  &__adrress {
    white-space: pre;
  }


  &__links{
     margin-bottom: 50px;
     a{
      text-decoration:underline;
    }
  }



  &__links-wrapper{
     margin-top: 50px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    
   
  }


  @media(min-width:1000px){
     &__links-wrapper {



       flex-direction: row;
      justify-content: space-between;


     }

     
  }



  &__text--bold{
    font-size: 1.1em;
    font-weight: 900;
  }


 
}

