.social {
  display: flex;
  justify-content: flex-start;

  &__link {
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;


    &:not(:last-child) {
      margin-right: 10px;
    }

    &::before {
      @include fullSizePseudoelement;
      @include pseudoelementHover;
    }


    &:hover::before {
      @include fullSizePseudoelement;
      transform: translateY(0);
    }

    &--facebook {
      @include backgroundImage("../images/social/facebook-empty.png");

      &::before {
        @include backgroundImage("../images/social/facebook.png");
      }
    }

    &--instagram {
      @include backgroundImage("../images/social/instagram-empty.png");

      &::before {
        @include backgroundImage("../images/social/instagram.png");
      }
    }

    &--twitter {
      @include backgroundImage("../images/social/twitter-empty.png");

      &::before {
        @include backgroundImage("../images/social/twitter.png");
      }
    }

    &--linkedin {
      @include backgroundImage("../images/social/linkedin-empty.png");

      &::before {
        @include backgroundImage("../images/social/linkedin.png")
      }
    }
  }

}

@media (min-width:992px){
  .social{
    justify-content: space-evenly;
  }
}